.bg {
  position: relative;
  margin-bottom: -4px;

  &__text-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
  }

  &__title {
    font-size: 55px;
    color: #E8A87C;
    font-weight: bold;
  }

}
